/* Program Access Styling */

:root {
    --primary_color:  #CC2828;
    --standard_white: #FFFFFF;
    --standard_border-radius: 35px;
    --selector_on_color: #939292;
    --input_background: #E5E2E2;
    --label_text_color: #5C4C4C;
    --forgot_pass_text_color: #555555;
}

/* Form visibility or Display */

#login_form {
    display: block;
}

#register_form {
    display: none;
}

#forgot_password_form {
    display: none;
}

#otp_form {
    display: none;
}

/* Access Container Styling */

#access_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 5.5rem;
    background-color: var(--standard_white);
    width: 20rem;
    height: 20rem;
    margin: auto;
    border-radius: var(--standard_border-radius);
}

/* Access Selector Styling */

#access_selector_wrapper {
    position: relative;
    bottom: 2.2rem;
    left: 0.75rem;
    width: 92.5%;
    height: 3.75rem;
    border-radius: 25px 25px 0 0;
    display: flex;
}

.access_selector {
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.access_selector:hover {
    letter-spacing: 1px;
}

.access_selector h3 {
    position: relative;
    top: 1.5rem;
    color: var(--standard_white);
    font-size: 1rem;
}

#login_selector {
    border-radius: 0 25px 0 0;
    background-color: var(--primary_color);
}

#login_selector h3{
    color: var(--standard_white);
}

#register_selector {
    border-radius: 25px 0 0 0;
    background-color: var(--standard_white);
}

#register_selector h3{
    color: var(--selector_on_color);
}
/* Input Styling */

.input_wrapper {
    position: relative;
    width: 80%;
    left: 2.15rem;
    margin: 1%;
}

.input_wrapper input{
    border-radius: 10px;
    width: 80%;
    height: 2.25rem;
    padding-left: 10px;
    padding-right: 30px;
    border: none;
    outline: 2px solid var(--input_background);
}

.input_wrapper input:focus {
    outline: 2px solid var(--primary_color);
}

.input_wrapper label{
    position: relative;
    left: 0.8rem;
    bottom: 1.75rem;
    font-size: 0.8rem;
    padding: 0 7px 0 7px;
    background-color: var(--standard_white);
    color: var(--label_text_color);
    cursor: text;
    transition: all 0.2s ease-out;
}

.input_wrapper input:focus ~ label, 
.input_wrapper input:valid ~ label {
    bottom: 3rem;
    font-size: 0.65rem;
    color: black;
}

#forgot_password_button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 3rem;
    bottom: 0.75rem;
    font-size: 0.8rem;
    color: var(--primary_color);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#forgot_password_button:hover {
    letter-spacing: 0.5px;
    right: 2.75rem;
}

input[type=submit] {
    position: relative;
    left: 29.5%;
    top: 1rem;
    margin: inherit;
    width: 8rem;
    height: 2.25rem;
    border: none;
    background-color: var(--primary_color);
    border-radius: 30px;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    transition: all 0.2s ease-in;
}

input[type=submit]:hover {
    letter-spacing: 1px;
}

/* Forgot Password Form Styling */

#forgot_password_head {
    position: relative;
    bottom: 0.5rem;
    text-align: center;
    width: 100%;
    height: 1.8rem;
}

#forgot_password_head h2 {
    text-align: center;
    color: var(--forgot_pass_text_color);
}

#forgot_password_head img {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.6;
    transform: rotate(90deg) translate(-2.1rem, 7.5rem);
    cursor: pointer;
    transition: opacity 0.2s ease-out;
}

#forgot_password_head img:hover {
    opacity: 1;
}

#forgot_pass_message{
    font-size: 0.8rem;
    width: 80%;
    margin: auto;
    color: #3A3838;
    transform: translateY(0.5rem);
    margin-bottom: 1.75rem;
}

#forgot_submit_button {
    position: relative;
    left: 29.5%;
    top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: inherit;
    width: 8rem;
    height: 2.25rem;
    border: none;
    background-color: var(--primary_color);
    border-radius: 30px;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#forgot_submit_button:hover {
    letter-spacing: 1px;
}

/* OTP form styling */

#otp_form h2{
    text-align: center;
    color: var(--forgot_pass_text_color);
    margin-bottom: 1rem;
    transform: translateY(-0.75rem);
}

#otp_message {
    font-size: 0.8rem;
    width: 80%;
    margin: auto;
    color: #3A3838;
    transform: translateY(-1rem);
    margin-top: 1.5rem;
}